*{
    padding: 0px;
    margin: 0px;
    font-family: yahoo-sans, Helvica, sans-serif;
    text-decoration: none;
    background-color: hsl(0,0%,100%);
}
body{
    margin-left: 15px;
    margin-top: 5px;
}
a{
    color: hsl(210,17%,16%);
    background-color: inherit;
}

h1 a{
    color: hsl(267,99%,41%);

}
h1 a:hover{
    text-decoration: none;
}
.head > input{
    border-color: hsl(209,100%,55%);
    border-width: 20px;
}

.head > input:click{
    border-color: hsl(209,100%,55%);
    border-width: 20px;
    box-shadow: 5px #188FFF;
}

.head{
    color: hsl(210,17%,16%);
    text-underline: none;
}
span{
    display: flex;
    flex-direction: row;
    align-items: center;
}
span img{
    width: 180px;
    height: 50px;
    padding-right: 50px;
    padding-left: 25px;
    padding-top: 10px;
}

.head a:hover{
    color:hsl(267,99%,41%);
    text-decoration: underline 5px;
    text-decoration-color: hsl(267,99%,41%);
    animation: ;
    animation-direction: normal;
}

form input{
    width: 600px;
    height: 40px;
    border-radius: 5px 0px 0px 5px;
    border-color: hsl(209,100%,55%);
    border-top-color: hsl(209,100%,55%);
    border-width: 1px;
}
form{
    display: flex;
    flex-direction: row;
}

form i{
    background-color: #188FFF;
    padding-right: 10px;
    border-radius: 0px 5px 5px 0px;

}
form a{
    background-color: #188FFF;
    border-radius: 0px 5px 5px 0px;
}

nav{
    font-weight: bold;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    margin-top: none;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}
nav a{
    padding: 25px
}

input[type=submit]{
    border-radius: 30px;
    color: hsl(0,0%,100%);
    background-color: #188FFF;
    border-color: #188FFF;
    border-bottom-color: #188FFF;
    width: 250px;
    height: 40px;
    font-weight: bold;
    margin-right: 15px;
    margin-bottom: 20px;
}

/**Body**/
.focus{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.focus img{
    border-radius: 10px 0px 0px 10px;
}
.center{
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    background-color: hsl(219,14%,72%);
    background-blend-mode: color;
    border-radius: 0px 10px 10px 0px;
}

.center h3{
    font-size: 20px;
    margin-left: 25px;
    background-color: hsl(219,14%,72%);
}

.center p{
    margin-top: 5px;
    margin-left: 25px;
    font-size: 12px;
    background-color: hsl(219,14%,72%);;
}
.center a{
    background-color: ;
}

.Trending{
    margin-left: 15px;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}
.Trending ol{
    display: flex;
    flex-direction: row;
}

.Trending span{
    display: flex;
    flex-direction: column;
}

.Trending li{
    color: hsl(267,99%,41%);
}

.Trending h2{
    font-size: 18px;
    color:hsl(227,12%,71%)
}
.focus a:hover{
    color:hsl(267,99%,41%);
    text-decoration: none;
}


.footer{
    display: flex;
    flex-direction: row;
}

.secondary-main{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-right: 15px;
}
.secondary-main img{
    width: 175px;
    height: 70px;
    border-radius: 5px;
}

.secondary-main img:hover{

}
.secondary-main a{
    font-size: 13px;
    width: 175px;
}

/**navigation*
.top-nav{
    display: flex;
    width: 100%;
    height: 22px;
    background-color: #2d1152;
    font-size: 10pt;
    align-items: center;
}

.top-nav a{
    display: flex;
    padding: 1px 21px 0 10px;
    color: white;
}
.top-nav a:hover{
    color: white;
    text-decoration: underline;
    /**change text underline color?


.top-nav a:focus{
    color: white;
    text-decoration: none;
}

.icon-home:hover{
    text-decoration: none;
}*/
