*{
    padding: 0;
    margin: 0;
    font-family: yahoo-sans, Helvica, sans-serif;
    text-decoration: none;
}
body{
    margin-left: 15px;
    margin-top: 5px;
}
a{
    color: hsl(210,17%,16%);
    background-color: inherit;
}

h1 a{
    color: hsl(267,99%,41%);

}
h1 a:hover{
    text-decoration: none;
}
.head > input{
    border-color: hsl(209,100%,55%);
    border-width: 20px;
}

.head  input:focus {
    border-color: hsl(209,100%,55%);
    border-width: 1px;
    box-shadow: 0 0 8px hsl(209,100%,75%);   /* or #188FFF */
    outline: none;
}

.head{
    color: hsl(210,17%,16%);
    text-underline: none;
}
span{
    display: flex;
    flex-direction: row;
    align-items: center;
}
span img{
    width: 180px;
    height: 50px;
    padding-right: 50px;
    padding-left: 25px;
    padding-top: 10px;
}

.head a:hover{
    color:hsl(267,99%,41%);
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: hsl(267,99%,41%);
    text-underline-offset: 3px;
    /*animation: ;*/
    animation-direction: normal;
}

form input{
    width: 600px;
    height: 42px;
    border-radius: 4px 0px 0px 4px;
    border-color: hsl(209,100%,55%);
    border-width: 1px;
}
form{
    display: flex;
    flex-direction: row;
}

form i{
    background-color: #188FFF;
    padding-right: 10px;
    border-radius: 0 5px 5px 0;

}
form a{
    background-color: #188FFF;
    border-radius: 0 5px 5px 0;
}

nav{
    font-weight: bold;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    margin: 0 5px 5px 5px;
    display: flex;
    flex-direction: row;
}
nav a{
    padding: 25px
}

input[type=submit]{
    border-radius: 30px;
    color: hsl(0,0%,100%);
    background-color: #188FFF;
    border-color: #188FFF;
    /*border-bottom-color: #188FFF;*/
    width: 300px;
    height: 40px;
    font-weight: bold;
    margin-right: 15px;
    margin-bottom: 20px;
}
/**ad*/
.ad input{
    width: 80px;
    height: 20px;
    border-radius: 5px;
    border: 20px;
    margin-left: 90%;
    margin-bottom: 20px;
}
/**Body**/
.focus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.focus img{
    border-radius: 10px 0 0 10px;
}
.center{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    padding-right: 10px;
    background-color: hsl(219,14%,72%);
    background-blend-mode: color;
    border-radius: 0 10px 10px 0;
}

.center h3{
    font-size: 20px;
    margin-left: 25px;
    margin-top: 30px;
    background-color: hsl(219,14%,72%);
    line-height: 26px;
}

.center p{
    margin-top: 10px;
    margin-left: 25px;
    font-size: 12px;
    background-color: hsl(219,14%,72%);
    line-height: 17.2px;
}

.center div:last-child p{
    background-color: hsl(219,14%,72%);
    font-size: 12px;
    line-height: 15.6px;
}

.center a:hover{
    text-decoration: underline;
    text-decoration-color: hsl(267,99%,41%);
    
}

.Trending{
    margin-left: 15px;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}
.Trending ol{
    display: flex;
    flex-direction: row;
}

.Trending span{
    display: flex;
    flex-direction: column;
    align-items: normal;
    padding-top: 20px;
    padding-left: 10px;
}

.Trending li{
    color: hsl(267,99%,41%);
    padding-bottom: 15px;
}

.Trending h2{
    font-size: 18px;
    color:hsl(227,12%,71%);
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}


.focus a:hover{
    color:hsl(267,99%,41%);
    text-decoration: none;
}


.footer{
    display: flex;
    flex-direction: row;
}

.secondary-main{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-right: 10px;
}
.secondary-main img{
    width: 175px;
    height: 90px;
    border-radius: 5px;
}

.secondary-main img:hover{

}
.secondary-main a{
    font-size: 13px;
    width: 175px;
}