* {
    padding: 0;
    margin: 0;
    font-family: yahoo-sans, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    /* NO HORIZ. SCROLLING*/
    overflow-x: hidden;
}

a:link,
a:hover,
a:visited,
a:visited:hover,
a:focus,            /*?*/
a:visited:focus {
    color: white;
    /*text-decoration: none;*/
}  /* ok */

/* 1ST NAVIGATION BAR */
.purple-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 22px;
    background-color: #2d1152;
    font-size: 13px;.
}

.links {
    display: flex;
}

.links a:hover {
    text-decoration: underline;
}

.purple-nav a:link {
    display: flex;
    flex-wrap: nowrap; /* ? */
    padding: 1px 29px 0 4px;
    color: white;      /* believed to be required in addition to "a:link { color: white }" above */
}

/* SEARCH BAR */
.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background: #1D2228;
}

.search-etc {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.field-and-button {
    display: flex;
    height: 42px;
    margin: 0 32px 0 52px;
}

.search-field {
    min-width: 300px;
    width: 589px; /* final value ~589 */
    max-width: 600px;
    height: 42px;
    border: 1px solid #0081F2;
    padding-left: 13px;
}
.search-field:focus {
    outline: none;
    box-shadow: 0 0 8px hsl(209,100%,55%);
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 42px;
    background-color: #0081F2;
    color: white;
}

/* 3*/
.search-button:hover,
.search-button:visited,
.search-button:active,
.search-button:focus {
    color: white;
    text-decoration: none;  /* still required */
}
.search-button:hover { background: #0061D2; }

.signin-mail {
    display: flex;
    align-items: center;
    width: 173px;
    height: 34px;
    margin-right: 20px;
    font-weight: 550;
}

.sign-in {
    height: 26px;
    width: 82px;
    border: 2px solid white;
    border-radius: 5px;
    margin-right: 20px;
    background: transparent;
    color: white;
    text-align: center;
}


/* Second Navigation Bar */
.second-nav {
    width: 100%;
    height: 40px;
    background: #232A31;
    display: flex;
    justify-content: space-between;
}

.categories {
    display: flex;
    align-items: center;
    width: 875px;
    height: 100%;
}
.categories a:link
 {
    padding-left: 20px;
    color: white;
    font-weight: 600;
    /*text-decoration: none;*/
}

.categories a:hover {
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
    text-underline-offset: 11px;
}

.categories a:last-of-type {    /* can remove if not displaying all categories */
    padding-right: 20px;
}

/* use JS to display the rest? */
.remaining-cats {
    display: none;
}

.my-teams {
    display: flex;
    align-items: center;
    width: 300px;
    height: 100%;
    /*color: gold;*/
    font-size: 8pt;
    text-align: center;
    line-height: 0.8;
}

.my-teams a:link,               /* 6 */
.my-teams a:hover,
.my-teams a:visited,
.my-teams a:visited:hover {
    color: gold;
    text-decoration: none;    /* still needed */
}

.team-logo {
    padding-right: 25px;
}

/* 4th and LAST Header Container */
#teams-and-scores {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 5px 8px hsl(0, 0%, 85%);
    font-size: 11px;
    font-weight: 600;
}

#trending {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 145px;
    height: 100%;
    border-right: 1px solid #ddd;
    font-size: 13px;
}

.sport-icon {  /* or icon */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 100%;
    border-right: 1px solid #ddd;
    color: #999;
}

.info-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    border-right: 1px solid #ddd;
}
.info-box:link {
    /*text-decoration: none;*/
}

.game-score {
    width: 117px;
    height: 84px;
    margin: 8px 16px;
    color: #1D2228;
}
.current-or-next {
    width: 100%;
    height: 36px;

}

.inn-qtr {
    font-size: 12px;
    color: red;
}

.game-time {
    color: gray;
    font-weight: 550;
}

.team {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 24px;
}

.scroll-arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48px;
    height: 100%;
    border-right: 1px solid #ddd;
    float: right;
}
.scroll-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #ddd;
}
.scroll-button:last-of-type { border: none; }


/* paid ad space */
.advert  {
    width: 90%;
    max-width: 1000px;
    height: 150px;
    background-color: #ddd;
    margin: 20px auto;
}
.close-box {
    width: 85px;
    height: 22px;
    background-color: #bbb;
    float: right;
    border-bottom-left-radius: 5px;
    font-size: 14px;
    text-align: center;
}
/* how to accomplish this?
.close-box:active {
   .advert, .close-box {
        display: none;
    }
}*/

#below-ad {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 40px;

}

#left-content {  /* responsive width/size? */  }

/* BREAKING NEWS */
#this-just-in {
    display: flex;
    width: 880px;
    height: 72px;
    border-radius: 10px;
    margin-bottom: 9px;
    box-shadow: 0 4px 6px hsl(0, 0%, 50%);

}

.side-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
}

.breaking-news {
    width: 193px;
    padding-left: 35px;
    background-color: hsl(350, 75%, 50%);
    font-size: 16px;
    font-weight: 800;
    line-height: 1.1
}

.small-image {
    width: 136px;
    background-color: #000;
}

.headline {
    display: flex;
    align-items: center;
    width: 551px;
    height: 100%;
    background-color: #eee;
    padding-left: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 16px;
    font-weight: 550;
    color: #232A31;
}

/* STORY PHOTOS */
#main-story {
    padding-top: 5px;
}

.photo-container {
    display: flex;
    justify-content: space-between;
    width: 880px;
    height: 377px;
}

.primary-photo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 671.5px;
    height: 100%;
    background-image: url("images/hawks-doing-well.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
}
.primary-photo:hover,
.photo-trio-item:hover {
    opacity: 95%;
    color: white;
    text-decoration: none;
}

.photo-text {
    margin: 0 20px 40px 25px;
    text-shadow: 2px 2px 4px black;
}

.photo-container h2 {
    font-size: 28px;
    font-weight: 800;
}

.photo-trio {
    display: flex;
    flex-direction: column;
    width: 206.5px;
    height: 100%;

}

.photo-trio-item {
    height: 117px;
    margin-bottom: 2px;
}

.photo-trio-item:hover {
    opacity: 93%;
}

.scroll-photos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20px;
    background: black;
    padding: 0 12px;
    color: white;
    font-size: 11px;
    font-weight: 600;
}

/* THE LINE UP */
#scrolling-quotes {
    display: flex;
    width: 880px;
    height: 121px;
    border-radius: 10px;
    margin: 20px 0;
    overflow: hidden;
    box-shadow: 0 -4px 5px hsl(0, 0%, 90%);
}

.line-up {
    width: 75.5px;
    padding: 0 15px;
    background-color: #232A31;
    font-size: 16px;
    font-weight: 900;
    line-height: 1.0
}

.critic-pic {
    width: 121px;
    background-color: ghostwhite;
}

.what-they-said {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 169px;
    padding: 10px 0 10px 10px;
    background-color: white;
    color: #232A31;
    font-size: 12px;
}

.quote {
    width: 149px;
    font-weight: 550;
}

.their-name {
    font-weight: 800;
}


#right-sidebar {
    width: 300px;
    height: 600px;
    margin: 0 80px 0 20px;  /* 80 because it was off-screen for some reason */
}

p {
    font-size: 16px;
    font-weight: 900;
    padding-bottom: 5px;

}

.more-headlines {
    list-style: none;
    width: 300px;
    font-size: 12px;
    color: #1D2228;
}

.more-headlines > li {
    display: flex;
    height: 42px;
    padding: 5px 0;
}

.uptrend {
    font-size: 20px;
    font-weight: 600;
    color: dodgerblue;
    margin: -7px 0 -7px 0;

}

.more-headlines > li span {
    width: 258.5px;
    padding: 0 10px;
}

a.headline-small,
.headline-small:link {
    color: #1D2228;
    text-decoration: none;
}

.headline-small:hover,          /* 7? */
.headline-small:visited:hover {
    color: dodgerblue;
}

.age {
    font-size: 11px;
    color: #aaa;
}

.more-adspace {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    border: 2px solid #232A31;
    margin-top: 50px;
    text-align: center;
}




.fs-11 { font-size: 11px; }
.fs-14 { font-size: 14px; }
.fs-20 { font-size: 20px; }
.c-gray { color: gray; }
.c-red { color: red; font-weight: 600; }
.yahoo-orange { color: #FF520D; }
.material-icons { color: white; }
.go-home { margin: 1px 0 0 14px; }
.smaller { zoom: 70%; }
.larger { zoom: 120%; }
.center-y {
    display: flex;
    align-items: center;
}

.no-underline,                 /*  8 */
.no-underline:link,
.no-underline:visited,
.no-underline:hover,
.no-underline:visited:hover {
    text-decoration: none;
}


/* Responsive Styles? */
@media only screen and (max-width: 450px) {
    .top-nav {
        display: none;
    }

    .search-bar {

    }

    .second-nav {

    }

}